input, label {
    cursor: pointer;
    user-select: none;
    appearance: none;
}

ul {
    display: none;
}

input {
    &::after {
        content: "\25BC";
    }

    &:checked::after {
        content: "\25B2";
    }

    label:has(&:checked) ~ ul {
        display: block;
    }
}